.footer {
    background-color: rgba(2, 19, 35, 1);
    color: white;
    padding: 2.5em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_list li {
    margin: 0.5em 1em;
}

.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy_right_span {
    font-weight: bold;
    color: #ffdd20;
}

.social_list li a{
    text-decoration: none;
    color: white;
}

.social_list li a:hover {
    color: #ffdd20;
}